[submodule "references/aflsmart"]
	path = references/aflsmart
	url = https://github.com/aflsmart/aflsmart.git
[submodule "references/AFL"]
	path = references/AFL
	url = https://github.com/google/AFL.git
[submodule "references/AFLplusplus"]
	path = references/AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "references/pdfium"]
	path = references/pdfium
	url = https://pdfium.googlesource.com/pdfium
[submodule "research/repos/AFLplusplus"]
	path = research/repos/AFLplusplus
	url = https://github.com/hhoang308/AFLplusplus.git
[submodule "research/schema/pdf-proto/libprotobuf-mutator"]
	path = research/schema/pdf-proto/libprotobuf-mutator
	url = https://github.com/google/libprotobuf-mutator.git
